@model Site.App.Models.FilmeViewModel

@{
    ViewData["Title"] = "Deletar o(a) Filme "+Model.Nome;
}

<h1>@ViewData["Title"]</h1>

<h3 class="textoDelete">Tem Certeza que deseja excluir?</h3>
<div class="row">
    <div class="col-md-4">
        <img src="~/imagens/@Model.Imagem" alt="@Model.Imagem" style="width: 300px; height: 428px" />
    </div>

    <div class="col-md-6">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Distribuidora.Nome)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Distribuidora.Nome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Sinopse)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Sinopse)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Valor)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Valor)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Categoria)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Categoria)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a class="btn btn-dark" asp-action="Index">Voltar</a>
        </form>
    </div>
</div>